<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | podcastr</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %> 
    
    <section>
        <div class="title">
            <h2>Meus episodios</h2>
        </div>
        <table>
            <thead>
                <tr>
                <th>PODCAST</th>
                <th>Título</th>
                <th>Data</th>
                <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <% episode.map(episode => { %>
                <tr>
                <td><%= episode.id %></td>
                <td><%= episode.title %></td>
                <td><%= episode.published_at %></td>
                <td>
                    <a class="show" href="<%= process.env.URL + process.env.ROUTE %><%= episode.slog %>">abrir</a>
                    <a class="delete" href="/episode/delete/<%= episode.id %>">excluir</a>
                </td>
                </tr>
            </tbody>
            <% }); %>
        </table> 
        <button class="addEpisode">Adicionar</button>
    </section>

    <div class="formModal">
        <form class="form" onsubmit="sendEpisode()">
            <div class="closeModal">✕</div>
            <div class="logo">
                <img src="/images/logo.svg" alt="logo">
            </div>

            <label>Titulo</label>   
            <input id="title" type="name" placeholder="Título..">
            
            <label>Membros</label>
            <input id="members" type="name" placeholder="Membros..">
            
            <label>Thumbnail</label>
            <input id="url" type="url" placeholder="Url..">
            
            <label>Descrição</label>
            <input id="description" type="text" placeholder="Descrição..">
            <br>
            <button>Adicionar</button>
        </form>
    </div>

    <%- include('partials/comingsoon') %>
    <script src="/script.js"></script>
</body>
</html> 